@font-face {
    font-family: 'MuseoThin';
    src: url("/fonts/MuseoSansCyrl_0.otf");
}
@font-face {
    font-family: 'MuseoRegular';
    src: url("/fonts/MuseoSansCyrl_1.otf");
}
@font-face {
    font-family: 'MuseoSemiBold';
    src: url("/fonts/MuseoSansCyrl_2.otf");
}
@font-face {
    font-family: 'MuseoBold';
    src: url("/fonts/MuseoSansCyrl_3.otf");
}
@mixin myFont($font-family, $font-size, $line-height){
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
}
